    <div class="section">
        <img src="assets/logo/druthers.png" width="80" height="20" class="logo">
    <ul>
        <li routerLink="/home" routerLinkActive="active" >Home
        </li>
        <li routerLink="/back-cover" routerLinkActive="active">Back Covers
        </li>
        <li routerLink="/tempered-glass" routerLinkActive="active">Tempered Glass
        </li>
        <li routerLink="/mobile-accesories" routerLinkActive="active">Accesories
        </li>
    </ul>
<!--     
    <input type="text" placeholder="Search Here" /> -->
</div>
